*{
    margin: 0;
}
.principal{
    width: 100%;
    height: 100vh;   
}
.formulario{
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80vh;
    border: 1px solid gray;
    border-radius: 2%;
    padding: 2%;
    gap: 3%;
}
.form-grupo-cpf-data{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.cpf, .data_nascimento{
    width: 50%;
}
input[type='text']{
    height: 5vh;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}
input[type="text"]:focus{
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}